@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@import "tailwindcss";

/* layers give style prioirity to rightmost layer*/
@layer reset, default, utilities;

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@layer reset {
  :root {
    margin: 0;
    padding: 0;
  }
}

@layer default {
  main {
    flex: 1;
  }
  body {
    display: flex;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: revert;
    padding: revert;
  }

  .required {
    margin-left: 4px;
    color: var(--error-700);
  }
}

@layer utilities {
  * {
    --grey-25: #fcfbfb;
    --grey-50: #f7f6f6;
    --grey-100: #d0d0d0;
    --grey-200: #e3e2e2;
    --grey-300: #cdcfd0;
    --grey-400: #b6b8ba;
    --grey-500: #666666;
    --grey-600: #6c6a6b;
    --grey-700: #494445;
    --grey-800: #2a2a2a;
    --grey-900: #231f20;
    --grey-950: #0d0d0d;

    --primary-25: #f9fdfc;
    --primary-50: #f3faf7;
    --primary-100: #d8efe8;
    --primary-200: #b1ded0;
    --primary-300: #9ad0c2;
    --primary-400: #59a896;
    --primary-500: #3f8d7c;
    --primary-600: #307164;
    --primary-700: #2a5b52;
    --primary-800: #254a43;
    --primary-900: #233e3a;

    --secondary-25: #fff8f5;
    --secondary-50: #fef3ee;
    --secondary-100: #fde4d7;
    --secondary-200: #fac4ae;
    --secondary-300: #f69b7b;
    --secondary-400: #f15f3a;
    --secondary-500: #ee4221;
    --secondary-600: #df2917;
    --secondary-700: #b91c15;
    --secondary-800: #931919;
    --secondary-900: #771817;

    --tertiary-25: #fefeee;
    --tertiary-50: #fdfde9;
    --tertiary-100: #fafbc6;
    --tertiary-200: #f7f791;
    --tertiary-300: #f3ec51;
    --tertiary-400: #eddc21;
    --tertiary-500: #ddc415;
    --tertiary-600: #bf9b0f;
    --tertiary-700: #987010;
    --tertiary-800: #7e5915;
    --tertiary-900: #6c4917;

    --error-25: #fef3f2;
    --error-500: #f04438;
    --error-600: #df2917;
    --error-700: #b42318;

    --success-700: #057747;
  }

  div[class="horizontalLine"] {
    height: 1px;
    width: 100%;
    background-color: var(--grey-100);
  }
}
