.overlay {
  position: fixed;
  inset: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.25);
}

.wrapper {
  display: flex;
  flex-direction: row;

  position: relative; /* sits inside overlay */
  width: 60%;
  max-width: 700px;

  background: white;
  border: 1px solid var(--grey-100);
  border-radius: 12px;
  padding: 24px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);

  /* if the form content gets tall */
  max-height: 85vh;
  overflow: visible;
  justify-content: center;
}
