.wrapper {
  display: flex;
  flex-direction: row;
}
.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
  width: 80%;
  max-width: 640px;
  padding: 48px;
  height: 680px;
  border-radius: 12px;
}
.reused {
  display: flex;
  flex-direction: column;
}
.headerSegment {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 24px 0 12px 0;
}
.pageTitle {
  font-size: 30px;
  font-weight: 600;
}
.description {
  font-size: 12px;
  font-weight: 500;
}
.formPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.formRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 68px;
  gap: 2vw;
  margin: 10px 0;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-left: auto;
  gap: 10px;
}

.subheading {
  font-size: 16px;
  font-weight: 600;
}

.infoBar {
  height: 24px;
}

.form,
.formRow,
.formPage {
  overflow: visible;
}

.error {
  color: red;
}
