.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2vw;
}

.entries {
  display: flex;
  flex-direction: column;
}

.reused {
  display: flex;
}
.formRow {
  display: flex;
  flex-direction: row;
}