.required {
  margin-left: 4px;
  color: red;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 68;
  gap: 4px;
}

.label {
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
}

.inline {
  flex-direction: row;
}

.input {
  border: 1px solid #cdcfd0;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  padding: 10px;
}
.input:focus {
  border: 2px solid #3f8d7c;
  outline: none;
}

.error {
  border-width: 2px;
  border-color: red;
}