.dateTimeForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  input,
  select,
  .inputBox {
    border: 1px solid var(--grey-100);
    width: fit-content;
    margin: 0 0.5rem;
  }

  .dateTimeGroup {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1rem;
  }

  .formElement {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.5rem;
    }
  }

  .required {
    color: var(--error-700);
  }

  .label {
    margin-bottom: 0.5rem;
    color: var(--grey-700);
  }
}
