.popup {
  all: unset;

  border: none;
  margin: 0;
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 9999;

  /* Look & Feel */
  padding: 12px 20px;
  background-color: var(--grey-900);

  color: white;
  font-size: 1.2rem;

  border-radius: 8px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  font-weight: 500;

  transition:
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s ease-in-out;

  animation: slideIn 0.3s ease-out;

  span::before {
    content: "";
    background-image: url("/icons/check-circle.svg");
    width: 1rem;
  }
}

.fadeOut {
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
