.sideNav {
  display: flex;
  padding: 0.7rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: clamp(60px, 7vw, 80px);
  height: 100vh;

  border-right: 1px solid var(--grey-200);

  .logo {
    transition: transform 0.2s ease-in-out;
  }

  .logo:hover {
    transform: scale(1.3);
  }

  img {
    width: clamp(8px, 100%, 60px);
    border-radius: 4px;
    padding: 10px;

    &:hover:not(.logo) {
      background-color: var(--primary-500);
    }

    &:active {
      background-color: var(--primary-600);
    }
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
}
