.studentProfileModal {
  display: flex;
  width: 900px;
  height: 400px;
  background-color: grey;
  border-radius: 10px;
  padding: 1.5rem;
  flex-direction: column;
}

.studentProfileModal .closeButton {
  align-self: flex-end;
  background-color: transparent;
  padding: 4px;
}

.studentProfileModal .closeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
