.studentProfileModal {
  display: flex;
  width: 900px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  flex-direction: column;

  .closeButton {
    align-self: flex-end;
    background-color: transparent;
    padding: 4px;
  }

  .closeButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .studentInfoTag {
    display: flex;
    gap: 1rem;

    .infoItems {
      list-style: none;
    }

    .profileView {
      .name {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .email address {
        font-style: normal;
        color: var(--color-gray-700);
      }

      .school {
        & > span {
          font-weight: 500;
          margin-right: 0.5rem;
        }
      }

      li {
        margin-bottom: 0.5rem;
        color: var(--color-gray-700);
      }
    }

    .listView {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .name {
        font-size: 1rem;
        font-weight: 500;
      }

      .email address {
        font-style: normal;
        color: var(--color-gray-700);
      }

      li {
        color: var(--color-gray-700);
      }
    }
  }

  .studentProfileContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
