.StudentProfileModalContainer {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 100%;

  .closeButton {
    align-self: flex-end;
    border-radius: 50%;
    margin: 4px;
    padding: 2px;

    &:hover {
      cursor: pointer;
      background-color: var(--color-gray-200);
    }
  }
}
