.root {
  position: relative; /* anchor the overlay panel */
  width: 100%;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* The bar */
.trigger {
  width: 100%;
  min-height: 50px;
  padding: 0 10px;

  background: white;
  color: black;

  border: 1px solid #cdcfd0;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.trigger:focus {
  border: 2px solid var(--primary-500);
}

.triggerText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 2px;

  color: #9b9d9f;
}

.panel {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  width: 100%;

  background: white;
  color: black;

  opacity: 1;
  z-index: 99;

  border: 1px solid #cdcfd0;
  border-radius: 8px;
  padding: 10px;

  /* scroll when too tall */
  max-height: 220px;
  overflow-y: auto;

  /* optional: gives the overlay “above” feel */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.required {
  color: var(--error-700);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listItem {
  width: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listItemSelected {
  background-color: #f7f6f6;
}

.itemBtn {
  background-color: aquamarine;
  margin: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  margin-right: auto;

  font-size: 12px;
}

.chosen {
  background-color: aquamarine;
  padding: 8px 12px;
  border-radius: 8px;

  font-size: 12px;
}
