.profilePic {
  background-color: var(--primary-500);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;

  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.small {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.medium {
  width: 5rem;
  height: 5rem;
  font-size: 2.7rem;
}

.large {
  width: 16rem;
  height: 16rem;
  border-radius: 500px;
  font-size: 12rem;
}
